body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Bitter', serif !important;
}

.tox-statusbar{
  display: none !important;
}

.html-container p{
  padding-top: 8px;
  padding-bottom: 8px;
}